/* ------------Общие------------ */
:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--accent-text-color: #2196f3;
	--button-first-text-color: #212121;
	--button-second-text-color: #fff;
	--button-first-bg-color: #f5f4fa;
	--button-second-bg-color: #2196f3;
	--primary-background-color: #fff;
	--second-background-color: #2f303a;
	--third-background-color: #f5f4fa;
	--footer-link-color: rgba(255, 255, 255, 0.6);
	--just-white-color: #fff;
	--main-logo-color: #2196f3;
	--second-logo-color: #000;
	--third-logo-color: #fff;
	--hero-button-hover-bgcolor: #188ce8;
	--work-content-border-color: #eee;
	--header-border-color: #ececec;
	--features-icon-bgcolor: #f5f4fa;
	--members-primary-icon-color: #afb1b8;
	--members-accent-icon-color: #fff;
	--members-accent-icon-bgcolor: #2196f3;
	--clients-primary-icon-color: #afb1b8;
	--clients-accent-icon-color: #2196f3;
	--join-icon-color: #fff;
	--join-primary-icon-bgcolor: rgba(255, 255, 255, 0.1);
	--join-accent-icon-bgcolor: #2196f3;
	--cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	font-family: Roboto, sans-serif;
	color: var(--primary-text-color);
	letter-spacing: 0.03em;
}

.link {
	text-decoration: none;
}

.list {
	list-style-type: none;
}

.btn {
	cursor: pointer;
	border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	padding: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	display: block;
}

.container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

/* ------------Хедер------------ */
.header {
	border-bottom: 1px solid var(--header-border-color);
}

.header-content {
	display: flex;
	align-items: center;
}

.site-nav {
	display: flex;
	margin-left: 93px;
}

/* Лого */
.logo {
	display: block;

	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--main-logo-color);
}

.header-logo {
	color: var(--second-logo-color);
}

/* Хедер линки */
.header-list {
	display: flex;
}

.header-item:not(:last-child) {
	margin-right: 50px;
}

.header-link {
	display: block;
	padding: 32px 0;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: inherit;
	transition: color 250ms var(--cubic);
}

.contacts-list {
	display: flex;
	margin-left: auto;
}

.contacts-item:not(:last-child) {
	margin-right: 50px;
}

.icon-envelope,
.icon-smartphone {
	margin-right: 10px;

	fill: currentColor;
}

.contacts-link {
	display: flex;
	align-items: center;
	color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus,
.footer-link:hover,
.footer-link:focus {
	color: var(--accent-text-color);
}

.current-page {
	position: relative;
	color: var(--accent-text-color);
}

.current-page::after {
	content: "";
	position: absolute;
	bottom: -1px;

	display: block;
	border-radius: 2px;
	width: 100%;
	height: 4px;

	background-color: var(--accent-text-color);
}

/* ------------Мейн Студио------------ */
/* Герой */
.hero {
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 200px;
	padding-bottom: 200px;

	background-color: var(--second-background-color);
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.hero-title {
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--just-white-color);
}

.hero-button {
	min-width: 200px;
	padding: 10px 32px;
	border-radius: 4px;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--button-second-text-color);
	background-color: var(--button-second-bg-color);
	transition: background-color 250ms var(--cubic);
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--hero-button-hover-bgcolor);
}

/* Особенности работы */

.features-list {
	display: flex;
	justify-content: space-between;
}

.features-item {
	flex-basis: calc((100% - 90px) / 4);
}

.features-icon-div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;

	width: 270px;
	height: 120px;
	border-radius: 4px;

	background-color: var(--features-icon-bgcolor);
}

.features-item-title {
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.features-item-text {
	font-size: 14px;
	line-height: 1.71;
	color: var(--secondary-text-color);
}

/* Чем мы занимаемся */

.speciality {
	padding-top: 0;
}

.speciality-title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.speciality-list {
	display: flex;
}
.speciality-item {
	flex-basis: calc((100% - 60px) / 3);
}

.speciality-item:not(:last-child) {
	margin-right: 30px;
}

.speciality-thumb {
	position: relative;
}

.speciality-item-title {
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 70px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--just-white-color);
	background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.members {
	background-color: var(--third-background-color);
}

.members-list {
	display: flex;
}

.members-item {
	flex-basis: calc((100% - 90px) / 4);
	border-radius: 0px 0px 4px 4px;

	background-color: var(--primary-background-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.members-item:not(:last-child) {
	margin-right: 30px;
}

.members-title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.members-content {
	padding-top: 30px;
	padding-bottom: 30px;
}

.members-name {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.members-speciality {
	margin-bottom: 16px;

	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--secondary-text-color);
}

.members-sociallink-list {
	display: flex;
	justify-content: center;
}

.members-sociallink-item:not(:last-child) {
	margin-right: 10px;
}

.members-social-link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 44px;
	height: 44px;
	border-radius: 50%;

	fill: var(--members-primary-icon-color);
	transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.members-social-link:hover,
.members-social-link:focus {
	background-color: var(--members-accent-icon-bgcolor);
	fill: var(--members-accent-icon-color);
	outline: none;
}

/* Постоянные клиенты */
.client-title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.client-list {
	display: flex;
	justify-content: space-between;
}

.client-link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 170px;
	height: 92px;
	border-radius: 4px;

	fill: var(--clients-primary-icon-color);
	border: 1px solid var(--clients-primary-icon-color);
	transition: fill 250ms var(--cubic), border-color 250ms var(--cubic);
}

.client-link:hover,
.client-link:focus {
	fill: var(--clients-accent-icon-color);
	border-color: var(--clients-accent-icon-color);
	outline: none;
}

/* ------------Футер------------*/
/* Линки */
.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--second-background-color);
}

.flex-footer {
	display: flex;
	align-items: baseline;
}

.first-footer-div {
	margin-right: 70px;
}

.footer-logo {
	color: var(--third-logo-color);
}

.footer .logo {
	margin-bottom: 20px;
}

.footer-item:not(:last-child) {
	margin-bottom: 9px;
}

.footer-link {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	color: var(--footer-link-color);
	transition: color 250ms var(--cubic);
}

.footer-first-link {
	color: var(--just-white-color);
}

/* Присоединяйтесь */
.footer-div-title {
	display: block;
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--just-white-color);
}

.join-list {
	display: flex;
	justify-content: center;
}

.join-item:not(:last-child) {
	margin-right: 10px;
}

.join-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;

	fill: var(--join-icon-color);
	background-color: var(--join-primary-icon-bgcolor);
	transition: background-color 250ms var(--cubic);
}

.join-social-link:hover,
.join-social-link:focus {
	background-color: var(--join-accent-icon-bgcolor);
	outline: none;
}

/* Подпишитесь */
.footer-third-div {
	margin-left: auto;
}

.subscribe-form {
	display: flex;
}

.subscribe-input {
	width: 358px;
	padding: 14px 16px;
	margin-right: 12px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;

	line-height: 1.25;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	background-color: transparent;

	transition: border 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.subscribe-input:hover,
.subscribe-input:focus {
	border: 1px solid #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	outline: none;
}

.subscribe-button {
	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 200px;
	padding: 10px;

	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--just-white-color);
	background: #2196f3;
	border-radius: 4px;

	transition: box-shadow 250ms var(--cubic);
}

.send-icon {
	margin-left: 10px;
}

.subscribe-button:hover,
.subscribe-button:focus {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* -------------Мейн Портфолио------------- */
/* Фильтр */
.filter-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filter-button {
	padding: 6px 22px;
	border-radius: 4px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: inherit;
	color: var(--button-first-text-color);
	background-color: var(--button-first-bg-color);
	transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.filter-item:not(:last-child) {
	margin-right: 8px;
}

.current-filter-button,
.filter-button:hover,
.filter-button:focus {
	color: var(--button-second-text-color);
	background-color: var(--button-second-bg-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Примеры работ */
.work-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: -30px;
	margin-left: -30px;
}

.work-item {
	flex-basis: calc(100% / 3 - 30px);
	margin-top: 30px;
	margin-left: 30px;
}
.work-link {
	display: block;
	transition: box-shadow 250ms var(--cubic);
}

.work-thumb {
	position: relative;
	overflow: hidden;
}

.work-description {
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(100%);

	height: 100%;
	width: 100%;
	padding: 24px;

	font-size: 18px;
	line-height: 1.56;
	color: #ffffff;
	background-color: rgba(33, 150, 243, 0.9);
	transition: transform 250ms var(--cubic);
}

.work-link:hover,
.work-link:focus {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	outline: none;
}

.work-link:hover .work-description,
.work-link:focus .work-description {
	transform: translateY(0);
}

.work-item-content {
	padding: 20px 24px;
	border: 1px solid var(--work-content-border-color);
	border-top: none;
}

.work-name {
	margin-bottom: 4px;

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primary-text-color);
}

.work-type {
	font-size: 16px;
	line-height: 1.87;
	color: var(--secondary-text-color);
}

/* -------------Модалка------------- */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);

	padding: 40px 44px 40px 36px;
	width: 528px;
	min-height: 581px;
	border-radius: 4px;

	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	transition: transform 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.9);
}

.close-button {
	position: absolute;
	top: 8px;
	right: 8px;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 30px;
	height: 30px;
	border-radius: 50%;

	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;

	transition: fill 250ms var(--cubic);
}

.close-button:focus,
.close-button:hover {
	fill: #2196f3;
}

.modal-title {
	display: block;

	margin-bottom: 12px;

	font-size: 20px;
	line-height: 1.15;
	text-align: center;
}

.modal-form {
	width: 448px;
	margin-left: auto;
	margin-right: auto;
}

.form-group {
	display: flex;
	flex-direction: column;

	margin-bottom: 10px;

	/* cursor: pointer; */
}

.form-group label {
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: #757575;
}

.form-group input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 11px 11px 11px 42px;

	font-size: 14px;

	transition: border 250ms var(--cubic);
}

.modal-input-div {
	position: relative;
}

.modal-input-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);

	transition: fill 250ms var(--cubic);
}

.form-group input:hover,
.form-group input:focus {
	border: 1px solid #2196f3;
	outline: none;
}

.form-group input:hover + .modal-input-icon,
.form-group input:focus + .modal-input-icon {
	fill: #2196f3;
}

.form-group textarea {
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;

	resize: none;

	font-size: 14px;

	transition: border 250ms var(--cubic);
}

.textarea {
	margin-bottom: 20px;
}

.form-group textarea:hover,
.form-group textarea:focus {
	border: 1px solid #2196f3;
	outline: none;
}

.form-group textarea::placeholder {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
	margin-bottom: 30px;
}

.modal-checkbox-input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.modal-checkbox-label {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
}

.modal-checkbox-label span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 15px;
	margin-right: 8px;
	border: 1px solid #000000;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;

	transition: background-color 250ms var(--cubic), border 250ms var(--cubic);
}

.modal-checkbox-input:checked + .modal-checkbox-label span {
	background-color: #2196f3;
	border: transparent;
	box-shadow: none;
}

.modal-checkbox-input:hover + .modal-checkbox-label > span,
.modal-checkbox-input:focus + .modal-checkbox-label > span {
	border: 2px solid #000000;
}

.modal-checkbox-link {
	color: #2196f3;
}

.modal-button {
	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 200px;
	margin: auto;
	padding: 10px;

	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--just-white-color);
	background-color: #2196f3;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	transition: background-color 250ms var(--cubic);
}

.modal-button:hover,
.modal-button:focus {
	background-color: #188ce8;
}
