.client-title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.client-list {
	display: flex;
	justify-content: space-between;
}

.client-link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 170px;
	height: 92px;
	border-radius: 4px;

	fill: var(--clients-primary-icon-color);
	border: 1px solid var(--clients-primary-icon-color);
	transition: fill 250ms var(--cubic), border-color 250ms var(--cubic);
}

.client-link:hover,
.client-link:focus {
	fill: var(--clients-accent-icon-color);
	border-color: var(--clients-accent-icon-color);
	outline: none;
}
