.members {
	background-color: var(--third-background-color);
}

.members-list {
	display: flex;
}

.members-item {
	flex-basis: calc((100% - 90px) / 4);
	border-radius: 0px 0px 4px 4px;

	background-color: var(--primary-background-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.members-item:not(:last-child) {
	margin-right: 30px;
}

.members-title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.members-content {
	padding-top: 30px;
	padding-bottom: 30px;
}

.members-name {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.members-speciality {
	margin-bottom: 16px;

	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--secondary-text-color);
}

.members-sociallink-list {
	display: flex;
	justify-content: center;
}

.members-sociallink-item:not(:last-child) {
	margin-right: 10px;
}

.members-social-link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 44px;
	height: 44px;
	border-radius: 50%;

	fill: var(--members-primary-icon-color);
	transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.members-social-link:hover,
.members-social-link:focus {
	background-color: var(--members-accent-icon-bgcolor);
	fill: var(--members-accent-icon-color);
	outline: none;
}
